// font-weight
.fw{
    &-medium{
        font-weight: 500;
    }
}

// font-family
@font-face{
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face{
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
}