<div class="container" style="margin: 50px auto">
    <div class="row">
        <div class="col s4">
            <div class="profile-avatar">
                
            </div>
        </div>
        <div class="col s8">
            <div class="input-field">
                <input type="text" value="<%= profile.firstname %>">
                <label>Firstname</label>
            </div>
            <div class="input-field">
                <input type="text" value="<%= profile.surname %>">
                <label>Surname</label>
            </div>
            <div class="input-field">
                <input type="text" value="<%= profile.username %>">
                <label>Email</label>
            </div>
        </div>
    </div>
</div>